/* Set background properties to fill the whole page */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4; 
  background-image: url('../public/background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Style the image */
.logo {
  max-width: 50%; /* Ensure the image doesn't exceed the viewport width */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 90px; 
}